build/

# Ignorar los .class
*.class

# Ignorar los log files
*.log

# Ignorar los .idea (Al usar IntelliJ
.idea

.vscode

out/

.classpath

AlgoCraft.iml

algocraft.xml

.classpath

.project

algocraft.properties
